
<div class="container">
  <form [formGroup]="form" (submit)="onSavePost()">

    <input type="text" formControlName="title" placeholder="Comic Title">

  <!-- <div>
    <button type="button" (click)="filePicker.click()">Pick Image</button>
    <input type="file" #filePicker (change)="onImagePicked($event)">
  </div>
  <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
    <img [src]="imagePreview" [alt]="form.value.title">
  </div> -->

    <textarea rows="4" formControlName="content" placeholder="About Comic"></textarea>


  <button class="btn btn-success" type="submit">Save Post</button>
</form>
</div>

<form  [formGroup]="form" (submit)="onSavePost()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
