<div class="container comic-post">
  <div *ngFor="let post of posts; let i = index">
    <h1>Issue #{{ post.issue }}: {{ post.title }}</h1>


    <p>{{ post.about }}</p>
    <div class="row justify-content-md-center" *ngIf="authUser === true">
      <div class="admin-button"> <button class="edit-btn" [routerLink]="['/edit', post._id]">Edit</button></div>
      <div class="admin-button"> <button class="delete-btn" (click)="onDelete(post._id)"><i class="fa fa-close"></i></button></div>
    </div>

  </div>
</div>
