h1 {
  font-weight: 900;
  margin: 20px auto;
}

pre {
text-align: start;
white-space: pre-wrap;
font-family: Arial, Helvetica, sans-serif;
font-size: 1rem;
margin: 20px auto;
}

.comic-post{
text-align: center;
}

.comic {
  width: 600px;
  height: 400px;
  background-color: blue;
  margin: auto;
}

.disabled {
  opacity: 0.5;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.navigation {
  text-align: center;
  /* margin: auto; */
}
