.comic-post{
text-align: center;
}

.comic {
  width: 600px;
  height: 400px;
  background-color: blue;
  margin: auto;
}

.disabled {
  opacity: 0.5;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
